<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EventGraph</title>
<link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap.min.css" rel="stylesheet">
<link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/echarts/lzy.css" rel="stylesheet">
<script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/echarts/jquery-3.1.1.min.js"></script>
<script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap.min.js"></script>
<script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/echarts/echarts.min.js"></script>
</head>

<body>

<div class="title">
    <h1>学术师承关系图谱 demo</h1>
</div>

<form action="/" method='post'>
{% csrf_token %}
{{ form }}
<input id="b01" type="submit" value="提交"/>
</form>

<div id="main" class="center-block"></div>

<div id="haha" class="right-block" style="display:none">
  <div class="close_window">
    <center><button id="b10" type="button" class="button button-rounded button-border button-glow">关闭</button></center>
  </div>
  <div class="news_time"></div>
  <div class="news_content"></div>
</div>


<script type="text/javascript">
      $(document).ready(function(){

// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
//var data = [{'name': '结婚','symbolSize': 80,'value':"fdasfdsafdsafa<br/>sdfsfsdfsffasfsafsffsafd",'label': {'normal': {'show': 'true','textStyle': {'color': 'white','fontSize': 16}}},'itemStyle': {'normal': {'color': "#FFA500"}}},
//    {'name': '买房子','value':'650'}, {'name': '买汽车','value':'550'}, {'name': '去旅行','value':'df'}, {'name': '拍婚纱照','value':'100' }, {'name': '找照相馆','value':'280'}, {'name': '找旅行社','value':'300'}, {'name': '订机票','value':'380'}, {'name': '租车','value':'50'}];
//var links = [{'source': 0,'target': 1,'value': "20 顺承 0.45","lineStyle": {"normal": {"width": 4}}}, {'source': 0,'target': 2,'value': "30 顺承 0.35"}, {'source': 0,'target': 3,'value': "25 顺承 0.5"}, {'source': 0,'target': 4,'value': "50 顺承 0.9"}, {'source': 4,'target': 5,'value': "30 顺承 0.6"}, {'source': 3,'target': 6,'value': "50 顺承 0.4"}, {'source': 3,'target': 7,'value': "60 顺承 0.6"}, {'source': 3,'target': 8,'value': "55 顺承 0.2"}];
var cur_event = "";
var data = {{ data|safe }};
var links = {{ links|safe }};
// 指定图表的配置项和数据
option = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
        offset: 0,
        color: '#f7f8fa'
    }, {
        offset: 1,
        color: '#cdd0d5'
    }]),
    title:{
        text: cur_event,
        subtext: "",
        top: "top",
        left: "center"
    },
    tooltip: {
        triggerOn:'mousemove',
        formatter:function(params){
            return params.value;
        }
    },
    toolbox: {
        show : false,
        showTitle: true,
        feature : {
            dataView : {show: true, readOnly: true},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    // animation: false,
    animationDuration: 3000,
    animationDurationUpdate: 1500,
    animationEasingUpdate: 'quinticInOut',
    series : [
        {
            type: 'graph',
            hoverAnimation: true,
            layout: 'force',
            force: {
                repulsion: [3000,5000],
                gravity: 0.5,
                edgeLength: [100, 200],
                // layoutAnimation: false,
            },
            symbolSize: 50,
            roam: true,
            label: {
                normal: {
                    show: true,
                    textStyle: {
                        fontSize: 10
                    },
                }
            },
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [3, 13],
            edgeLabel: {
                normal: {
                    show:true,
                    textStyle: {
                        fontSize: 10
                    },
                    formatter: '{c}'

                }
            },
            data: data,
            links: links,
            draggable: true,
            focusNodeAdjacency: true,
            lineStyle: {
                normal: {
                    opacity: 1,
                    width: 2,
                    curveness: 0.05
                }
            }
        }
    ]
};
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

//鼠标点击事件
myChart.on('click',function(params){
console.log(params);
var temp_name=params.name;
if (params.dataType === 'node') {
// 点击到了 graph 的 edge（边）上。
window.location.href=params.data.url;
}
});

$('#b10').click(function(){
  $.ajax({
    success:function(data){
      $('#main').attr("class","center-block");
      $('#haha').css('display','none');
    },
    error:function(XmlHttprequest, textStatus, errorThrown){
      alert('无法关闭上下文信息，内部错误');
    }
  });
});

});

</script>
<div id="footer">
    <h4>哈工大社会计算与信息检索研究中心出品 @ HIT-SCIR</h4>
</div>

</body>
</html>
