<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>关系index</title>
</head>

<body>
<h1>关系index</h1>
<a href="../qid"> 查询ID </a> <br>
<a href="../qe"> 查询关系 </a> <br>
<a href="../addv"> 加点 </a> <br>
<a href="../adde"> 加边 </a> <br>
</body>
</html>
