<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码修改成功</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/css/bootstrap.css"
          rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/css/font-awesome.css"
          rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/gsdk.css" rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/demo2.css" rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/material-kit.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="section section-full-screen section-signup"
     style="background-image: url(
     'https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/city.jpg'); background-size: cover;
     background-position: top center; min-height: 700px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="card card-signup">
                  <div class="header header-primary text-center">
                            <h4>密码修改成功！</h4>
                            <!-- 要是能做出用其他账号登录再说
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                            -->
                   </div>
                        <div class="footer text-center">

                 <a href="{% url 'index' %}">返回主页</a>
                 <p></p>
                 <p></p>
                        </div>

                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
