<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/css/bootstrap.css"
          rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/css/font-awesome.css"
          rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/gsdk.css" rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/demo.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
<div id="navbar-full">
    <div id="navbar">
        <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">世界树</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'index' %}">主页</a></li>
                        <li class="active"><a href="">关于</a></li>
                        <li>
                            <a href="javascript:void(0);" data-toggle="search" class="hidden-xs"><i
                                    class="fa fa-search"></i></a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left navbar-search-form" role="search" style="margin: 14px;">
                        <div class="form-group" style="display: inline-block;">
                            <input type="text" value="" class="form-control" placeholder="输入作者">
                        </div>
                        <div class="form-group" style="display: inline-block;">
                            <input type="submit" class="btn btn-round btn-default" value="搜索"
                                   style="margin: 0 auto; display: block;">
                        </div>
                    </form>
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#gsdk" class="dropdown-toggle" data-toggle="dropdown">
                                    <div class="logo-container">
                                        <div class="logo">
                                            <img src="">
                                        </div>
                                        <div class="brand">
                                            {{ user.username }}
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'users:profile' %}">个人信息</a></li>
                                    <li><a href="{% url 'relation:relation' %}">我的世界树</a></li>
                                    <li><a href="{% url 'logout' %}">注销登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'users:register' %}">注册</a></li>

                            <li>
                                <button href="{% url 'login' %}" class="btn btn-round btn-default">登录</button>
                            </li>
                        </ul>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="blurred-container">
            <div class="img-src" style="background-image: url(
            'https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/bg.jpg')"></div>
        </div>
    </div><!--  end navbar -->

</div> <!-- end menu-dropdown -->

<!--
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Django Auth Example</a></h1>
            {% if user.is_authenticated %}
                <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
                <button class="btn btn-default"><a href="{% url 'logout' %}">注销登录</a></button>
                <button class="btn btn-default"><a href="{% url 'password_change' %}">修改密码</a></button>

            {% else %}
                <p>你还没有登录，请
                    <button class="btn btn-default"><a href="{% url 'login' %}">登录</a></button>
                    或者
                    <button class="btn btn-default"><a href="{% url 'users:register' %}">注册</a></button>
                </p>
            {% endif %}
        </div>
    </div>
</div>
-->

<div class="section" id="carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if user.is_authenticated %}

                {% else %}
                <!-- Carousel Card -->
                <div class="card card-raised card-carousel">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/bg2.jpeg"
                                         alt="Awesome Image">
                                    <div class="carousel-caption">
                                        <h4><i class="material-icons">location_on</i> Yellowstone National Park, United
                                            States</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/bg3.jpeg"
                                         alt="Awesome Image">
                                    <div class="carousel-caption">
                                        <h4><i class="material-icons">location_on</i> Somewhere Beyond, United States
                                        </h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/bg4.jpeg"
                                         alt="Awesome Image">
                                    <div class="carousel-caption">
                                        <h4><i class="material-icons">location_on</i> Yellowstone National Park, United
                                            States</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <i class="material-icons">keyboard_arrow_left</i>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Carousel Card -->
                {% endif %}
            </div>
        </div>
    </div>
</div>


</body>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/jquery/jquery-1.10.2.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/jquery-ui-1.10.4.custom.min.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/js/bootstrap.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-checkbox.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-radio.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-bootstrapswitch.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/get-shit-done.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/custom.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/nouislider.min.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/bootstrap-datepicker.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/material-kit.js"
            type="text/javascript"></script>
    <script type="text/javascript">

		$().ready(function(){
			// the body of this function is in assets/material-kit.js
			materialKit.initSliders();
            window_width = $(window).width();

            if (window_width >= 992){
                big_image = $('.wrapper > .header');

				$(window).on('scroll', materialKitDemo.checkScrollForParallax);
			}

		});
	</script>

</html>
