<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>个人信息</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/apple-icon.png">
	<link rel="icon" type="image/png"
          href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/favicon.png">

    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/css/bootstrap.css"
          rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/gsdk.css" rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/demo2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/material-kit.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body class="profile-page">

<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll" role="navigation">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">世界树</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">主页</a></li>
                <li class="active"><a href="">关于</a></li>
                <li>
                    <a href="javascript:void(0);" data-toggle="search" class="hidden-xs"><i
                            class="fa fa-search"></i></a>
                </li>
            </ul>
            <form class="navbar-form navbar-left navbar-search-form" role="search" style="margin: 14px;">
                <div class="form-group" style="display: inline-block;">
                    <input type="text" value="" class="form-control" placeholder="输入作者">
                </div>
                <div class="form-group" style="display: inline-block;">
                    <input type="submit" class="btn btn-round btn-default" value="搜索"
                           style="margin: 0 auto; display: block;">
                </div>
            </form>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#gsdk" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="logo-container">
                                <div class="logo">
                                    <img src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/new_logo.png">
                                </div>
                                <div class="brand">
                                    {{ user.username }}
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'users:profile' %}">个人信息</a></li>
                            <li><a href="{% url 'users:relation' %}">所有操作</a></li>
                            <li><a href="{% url 'logout' %}">注销登录</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'users:register' %}">注册</a></li>

                    <li>
                        <button onclick="window.location.href='{% url 'login' %}'" class="btn btn-round btn-default">
                            登录
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="wrapper">
    <div class="header header-filter" style="background-image: url(
    'https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/city2.jpg')"></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="profile">
                        <div class="avatar">
                            <img src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/christian.jpg"
                                 alt="Circle Image" class="img-circle img-responsive img-raised">
                        </div>
                        <div class="name">
                            <h3 class="title">{{ user.name }}</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="profile-tabs">
                            <div class="nav-align-center">
                                <ul class="nav nav-pills" role="tablist">
                                    <li class="active">
                                        <a href="#shows" role="tab" data-toggle="tab">
                                            <i class="material-icons">face</i>
                                            基本信息
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content gallery">
                                    <div class="tab-pane active" id="shows">
                                        <div class="row">
                                            {% if ac > 0 %}
                                                <div class="col-md-8 col-md-offset-2">

                                                <div class="card card-signup">
                                                    <form class="form" method="" action="">
                                                        <div class="content">
                                                             <div class="form-group label-floating" hidden="True">
                                                                <label class="control-label">姓名</label>
                                                                 <input name="id" hidden="True" class="form-control" value="{{ user.id }}">
                                                                <input  name="name" class="form-control" value="{{ user.name }}">
                                                             </div>
                                                             <div class="form-group label-floating">
                                                                <label class="control-label">昵称</label>
                                                                <input name="nickname" placeholder="" class="form-control" value="{{ user.nickname }}">
                                                            </div>
                                                             <div class="form-group label-floating">
                                                                <label class="control-label">邮箱</label>
                                                                <input name="email" type="email" placeholder="" class="form-control" value="{{ user.email }}">
                                                            </div>
                                                             <div class="form-group label-floating">
                                                                <label class="control-label">博客</label>
                                                                <input name="blog" placeholder="" class="form-control" value="{{ user.blog }}">
                                                            </div>
                                                             <div class="form-group label-floating">
                                                                <label class="control-label">领英</label>
                                                                <input name="linkedin" placeholder="" class="form-control" value="{{ user.linkedin }}">
                                                            </div>
                                                             <div class="form-group label-floating">
                                                                <label class="control-label">谷歌学术</label>
                                                                <input name="ggsc" placeholder="" class="form-control" value="{{ user.ggsc }}">
                                                            </div>
                                                             <div class="form-group label-floating">
                                                                <label class="control-label">单位</label>
                                                                <input name="institute" placeholder="" class="form-control" value="{{ user.institute }}">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                                                            <a href="{% url 'graph:tree'  %}?id={{ user.id }}"
                                                               class="btn btn-info">
                                                                师承树
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                                                            <input type="submit" class="btn btn-primary" value="修改"/>
                                                        </div>
                                                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                                                            <a href=""
                                                               class="btn btn-upgrade">
                                                                删除
                                                            </a>
                                                        </div></div>
                                                    </form>
                                                </div>
                                                </div>
                                            {% else %}
                                                <div class="card card-signup">
                                                    <form class="form" method="" action="">
                                                        <div class="content">

                                                            <div class="col-md-10 col-md-offset-1 col-md-12 text-left">
                                                                <h1 class="hello text-left">
                                                                    <small>
                                                                        <ul class="list-unstyled">
                                                                            <li> 姓名：{{ user.name }}</li> <br>
                                                                            <li> 昵称：{{ user.nickname }}</li> <br>
                                                                            <li> 邮箱：<a href = "mailto:{{ user.email }}"> {{ user.email }} </a> </li> <br>
                                                                            <li> 博客：<a href = "{{ user.blog }}"> {{ user.blog }} </a></li> <br>
                                                                            <li> 领英：<a href = "{{ user.linkedin }}"> {{ user.linkedin }} </a></li> <br>
                                                                            <li> 谷歌学术：<a href = "{{ user.ggsc }}"> {{ user.ggsc }} </a></li> <br>
                                                                            <li> 单位：{{ user.institute }}</li> <br>
                                                                        </ul>
                                                                    </small>
                                                                </h1>
                                                            </div>

                                                        </div>
                                                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                                                            <a href="{% url 'graph:tree'  %}?id={{ user.id }}"
                                                               class="btn btn-info">
                                                                师承树
                                                            </a>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Profile Tabs -->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<footer class="footer">
    <div class="container">
        <div class="copyright pull-right">
            &copy; 2017, made with <i class="fa fa-heart heart"></i> by Holynova
        </div>
    </div>
</footer>

</body>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/jquery/jquery-1.10.2.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/jquery-ui-1.10.4.custom.min.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/js/bootstrap.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/js/material.min.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-checkbox.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-radio.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-bootstrapswitch.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/get-shit-done.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/custom.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/bootstrap-datepicker.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/material-kit.js"
            type="text/javascript"></script>
</html>