<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>世界树图</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/apple-icon.png">
	<link rel="icon" type="image/png"
          href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/favicon.png">

    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/css/bootstrap.css"
          rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/gsdk.css" rel="stylesheet"/>
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/demo2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/css/material-kit.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <style type="text/css">
      .ui-com {
        font-size: 14px;
        max-height: 100px;
        max-width: 172px;
        overflow-y: auto;
        /* 防止水平滚动条 */
        overflow-x: hidden;
      }
    </style>
        <style>
      .ui-autocomplete {
        z-index: 111111;
      }
    </style>
</head>

<link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap.min.css" rel="stylesheet">
<link href="https://rawcdn.githack.com/holynova-SD/CSSTest/master/echarts/lzy.css" rel="stylesheet">
<script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/echarts/jquery-3.1.1.min.js"></script>
<script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap.min.js"></script>
<script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/echarts/echarts.min.js"></script>

    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/jquery/jquery-1.10.2.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/bootstrap3/js/bootstrap.js"
            type="text/javascript"></script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            (function () {
                var insertOptions = function (data, id) {
                    $('#name').autocomplete({
                        minLength: 0,
                        source: data,
                        focus: function ( event, ui) {
                            $( "#name" ).val( ui.item.label );
                            return false;
                        },
                        select: function ( event, ui) {
                            $( "#name" ).val( ui.item.label );
                            $( "#person-id" ).val( ui.item.value );
                            return false;
                        }
                    }).data("ui-autocomplete")._renderItem = function (ul, item) {
                        return $("<li>")
                            .append("<a>" + item.label + "<br>" + item.desc + "</a>")
                            .appendTo(ul);
                    };
                }
                $('#name').keyup(function () {
                    var right_id = "#name";
                    var url = "/users/balabala/";
                    var skeyword = $("#name").val();
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        async: false,
                        data: {"skeyword": skeyword, "csrfmiddlewaretoken": '{{ csrf_token }}'},
                        success: function (data) {
                            //alert(data.toString());
                            insertOptions(data, right_id)
                        },
                        error: function (XmlHttprequest, textStatus, errorThrown) {
                            alert("asbdlasldb")
                        }
                    });
                });
            })();
        });
    </script>


</head>
<body class="profile-page">
<nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">世界树</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">主页</a></li>
                <li class="active"><a href="">关于</a></li>
                <li>
                    <a href="javascript:void(0);" data-toggle="search" class="hidden-xs"><i
                            class="fa fa-search"></i></a>
                </li>
            </ul>
            <form class="navbar-form navbar-left navbar-search-form" role="search" style="margin: 14px;">
                <div class="form-group" style="display: inline-block;">
                    <input id="name" name="author" type="text" value="" class="form-control ui-com" placeholder="输入作者">
                    <input id="person-id" name="id" type="hidden">
                </div>
                <div class="form-group" style="display: inline-block;">
                    <input type="submit" class="btn btn-round btn-default" value="搜索"
                           style="margin: 0 auto; display: block;">
                </div>
            </form>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#gsdk" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="logo-container">
                                <div class="logo">
                                    <img src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/new_logo.png">
                                </div>
                                <div class="brand">
                                    {{ user.username }}
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'users:profile' %}">个人信息</a></li>
                            <li><a href="{% url 'users:relation' %}">我的世界树</a></li>
                            <li><a href="{% url 'logout' %}">注销登录</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'users:register' %}">注册</a></li>

                    <li>
                        <button onclick="window.location.href='{% url 'login' %}'" class="btn btn-round btn-default">
                            登录
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="wrapper">
    <div class="header header-filter" style="background-image: url(
    'https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/img/bg2.jpeg');">
	</div>

    <div class="main main-raised">

        <div class="section">
            <div class="container tim-container">
                <div class="title">
                    <h2>{{ name }}的师承树</h2>
                </div>
                <div>

<div id="main" class="center-block"></div>

<div id="haha" class="right-block" style="display:none">
  <div class="close_window">
    <center><button id="b10" type="button" class="button button-rounded button-border button-glow">关闭</button></center>
  </div>
  <div class="news_time"></div>
  <div class="news_content"></div>
</div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="copyright pull-right">
                &copy; 2017, made with <i class="fa fa-heart heart"></i> by Holynova
            </div>
        </div>
    </footer>
</div>
</body>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/material.min.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-checkbox.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-radio.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/gsdk-bootstrapswitch.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/get-shit-done.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/custom.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/nouislider.min.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/bootstrap-datepicker.js"
            type="text/javascript"></script>
    <script src="https://rawcdn.githack.com/holynova-SD/CSSTest/master/assets/js/material-kit.js"
            type="text/javascript"></script>


<script type="text/javascript">
      $(document).ready(function(){

// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
//var data = [{'name': '结婚','symbolSize': 80,'value':"fdasfdsafdsafa<br/>sdfsfsdfsffasfsafsffsafd",'label': {'normal': {'show': 'true','textStyle': {'color': 'white','fontSize': 16}}},'itemStyle': {'normal': {'color': "#FFA500"}}},
//    {'name': '买房子','value':'650'}, {'name': '买汽车','value':'550'}, {'name': '去旅行','value':'df'}, {'name': '拍婚纱照','value':'100' }, {'name': '找照相馆','value':'280'}, {'name': '找旅行社','value':'300'}, {'name': '订机票','value':'380'}, {'name': '租车','value':'50'}];
//var links = [{'source': 0,'target': 1,'value': "20 顺承 0.45","lineStyle": {"normal": {"width": 4}}}, {'source': 0,'target': 2,'value': "30 顺承 0.35"}, {'source': 0,'target': 3,'value': "25 顺承 0.5"}, {'source': 0,'target': 4,'value': "50 顺承 0.9"}, {'source': 4,'target': 5,'value': "30 顺承 0.6"}, {'source': 3,'target': 6,'value': "50 顺承 0.4"}, {'source': 3,'target': 7,'value': "60 顺承 0.6"}, {'source': 3,'target': 8,'value': "55 顺承 0.2"}];
var cur_event = "";
var data = {{ data|safe }};
var links = {{ links|safe }};
// 指定图表的配置项和数据
option = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
        offset: 0,
        color: '#f7f8fa'
    }, {
        offset: 1,
        color: '#cdd0d5'
    }]),
    title:{
        text: cur_event,
        subtext: "",
        top: "top",
        left: "center"
    },
    tooltip: {
        triggerOn:'mousemove',
        formatter:function(params){
            return params.value;
        }
    },
    toolbox: {
        show : false,
        showTitle: true,
        feature : {
            dataView : {show: true, readOnly: true},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    // animation: false,
    animationDuration: 3000,
    animationDurationUpdate: 1500,
    animationEasingUpdate: 'quinticInOut',
    series : [
        {
            type: 'graph',
            hoverAnimation: true,
            layout: 'force',
            force: {
                repulsion: [3000,5000],
                gravity: 0.5,
                edgeLength: [100, 200],
                // layoutAnimation: false,
            },
            symbolSize: 50,
            roam: true,
            label: {
                normal: {
                    show: true,
                    textStyle: {
                        fontSize: 10
                    },
                }
            },
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [3, 13],
            edgeLabel: {
                normal: {
                    show:true,
                    textStyle: {
                        fontSize: 10
                    },
                    formatter: '{c}'

                }
            },
            data: data,
            links: links,
            draggable: true,
            focusNodeAdjacency: true,
            lineStyle: {
                normal: {
                    opacity: 1,
                    width: 2,
                    curveness: 0.05
                }
            }
        }
    ]
};
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

//鼠标点击事件
myChart.on('click',function(params){
console.log(params);
var temp_name=params.name;
if (params.dataType === 'node') {
// 点击到了 graph 的 edge（边）上。
window.location.href=params.data.url;
}
});

$('#b10').click(function(){
  $.ajax({
    success:function(data){
      $('#main').attr("class","center-block");
      $('#haha').css('display','none');
    },
    error:function(XmlHttprequest, textStatus, errorThrown){
      alert('无法关闭上下文信息，内部错误');
    }
  });
});

});

</script>
</html>